@model IQueryOptionMvc<object>
@{
    Layout = "~/Views/Shared/_QueryPanel.cshtml";
}
@if (IsSectionDefined("QueryTerms"))
{
@section QueryTerms { @RenderSection("QueryTerms", false) }
}
@if (IsSectionDefined("ToggleMenus"))
{
@section ToggleMenus { @RenderSection("ToggleMenus", false) }
}
@Html.Hidden("Page", Model.Page)
@Html.Hidden("PageSize", Model.PageSize)
@Html.Hidden("DefaultPageSize", Model.DefaultPageSize)
@Html.Hidden("SortColumn", Model.SortColumn)
@Html.Hidden("SortDirection", Model.SortDirection)

<div class="table-responsive">
    @RenderBody()
</div>
@*<div class="panel-footer clearfix">
    <nav style="text-align:center;">
        <ul class="pagination pagination-sm mtb-0">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>*@

@Html.Partial("_PagedController")