@model IQueryOptionMvc<object>
@{
    Layout = "~/Views/Shared/_QueryPanel.cshtml";
}
@if (IsSectionDefined("QueryTerms"))
{
    @section QueryTerms { @RenderSection("QueryTerms", false) }
}
@if (IsSectionDefined("ToggleMenus"))
{
    @section ToggleMenus { @RenderSection("ToggleMenus", false) }
}
@Html.Hidden("Page", Model.Page)
@Html.Hidden("PageSize", Model.PageSize)
@Html.Hidden("DefaultPageSize", Model.DefaultPageSize)
@Html.Hidden("SortColumn", Model.SortColumn)
@Html.Hidden("SortDirection", Model.SortDirection)

<div class="panel panel-primary">
    @RenderBody()
    @Html.Partial("_PagedController")
</div>