@model Investigation
@{
    var investigationTypes = Enum.GetValues(typeof(InvestigationTypeEnum))
                                .Cast<InvestigationTypeEnum>()
                                .ToSelectListItemList(x => x.GetDisplayName("Name"), x => x.ToString());
    var defaultSelectItem = new List<SelectListItem>() { new SelectListItem() { Text = "請選擇" } };
    var towns = SiteHelper.GetTowns().ToSelectListItemList(x => x, x => x);
    towns.Insert(0, new SelectListItem() { Text = "請選擇", Value = string.Empty, Selected = true });

    var dataModel = Model.ToJson();
}
<!--Content-->
<div class="content" data-model="@dataModel">
    <input type="hidden" name="Id" value="" />
    <div class="gis-left">
        <!--左側滑動收合-->
        <div class="btn-toggle l-hide"></div><!--按鈕：左側隱藏-->
        <div class="btn-toggle l-show"></div><!--按鈕：左側展開--->
        <div class="left-accordion">
            <!--Accordion-->
            <!--//一、路口定位設定-->
            <h5>一、路口定位設定</h5>
            <div class="Position-Setup">
                <div class="form-group">
                    <label>1、調查型態：</label>
                    @if (Model != null)
                    {
                        @Html.Hidden("HiddenInvestigationType", Model.InvestigationTypeEnum.ToString())
                    }
                    @Html.DropDownList("InvestigationType", investigationTypes, new { @class = "selectpicker show-menu-arrow form-control" })
                </div>
                <div class="form-group">
                    <label>2、路口定位：</label>
                    <div class="input-group">
                        <span class="input-group-addon">行政區：</span>
                        @Html.DropDownList("Town", towns, new { @class = "selectpicker show-menu-arrow form-control" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">路&nbsp;&nbsp;&nbsp;名：</span>
                        @Html.TextBox("Road1", null, new { @class = "form-control", placeholder = "請輸入正確路名" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">路&nbsp;&nbsp;&nbsp;名：</span>
                        @Html.DropDownList("Road2", defaultSelectItem, new { @class = "selectpicker show-menu-arrow form-control" })
                    </div>
                </div>
                <button type="button" id="next-1" class="btn btn-primary btn-block" disabled><i class="fa fa-map-marker" aria-hidden="true"></i> 定位</button>
            </div>
            <!--//一、路口定位設定-->
            <!--路口指向設定-->
            <h5>二、路口指向設定</h5>
            <div class="direction-setup">
                <div id="roadDirect" class="form-group">
                    <label>路口指向：</label>
                </div>
                <div class="col-xs-6 col-md-6">
                    <button type="button" id="prev-1" class="btn btn-primary btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> 上一步</button>
                </div>
                <div class="col-xs-6 col-md-6">
                    <button type="button" id="next-2" class="btn btn-primary btn-block"><i class="fa fa-arrow-right" aria-hidden="true"></i> 下一步</button>
                </div>
            </div>
            <!--//路口指向設定-->
            <!--//三、資料匯入-->
            <h5>三、資料匯入</h5>
            <div class="import-data">
                <div class="form-group">
                    <label>1、調查日期：</label>
                    <input type="text" class="form-control input-sm t_date" name="InvestigaionTime" placeholder="">
                </div>
                <div class="form-group">
                    <label>2、路口管制說明：</label>
                    <textarea rows="4" cols="36" name="TrafficControlNote"></textarea>
                </div>
                <div class="form-group">
                    <label>3、資料匯入：</label>
                    <div class="input-group">
                        <label class="file" title=""><input id="FileUpload" onchange="this.parentNode.setAttribute('title', this.value.replace(/^.*[\\/]/, ''))" type="file"></label>
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <button type="button" id="prev-2" class="btn btn-primary btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> 上一步</button>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <button type="button" class="btn btn-primary btn-block" id="FileUploadButton"><i class="fa fa-upload" aria-hidden="true"></i> 上傳檔案</button>
                    </div>
                </div>
                @if (Model != null)
                {
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-info btn-block" id="SubmitNoUpload"><i class="fa fa-upload" aria-hidden="true"></i> 送出</button>
                    </div>
                }
            </div>
            <!--//三、資料匯入-->
        </div><!--Accordion end-->
    </div><!--左側滑動收合 end-->
    <!-- 右側地圖區塊-->
    <div class="gis-right">
        <!--gis-right-->
        <!--Google Maps-->
        <div class="gis-map" id="map_canvas"></div>
        <!--//Google Maps-->
    </div><!--//gis-right-->
    <!-- //右側地圖區塊-->
    <div class="clearfix"></div>
</div><!--//Content-->
<!--clone object-->
<div id="roadDirectName" style="display: none;">
    <div class="input-group">
        <span class="input-group-addon roadName">&nbsp;</span>
        <input type="text" class="form-control roadtext" style="width: 90px" placeholder="請輸入路名">
        <span class="input-group-addon">旋轉</span>
        <input type="number" class="form-control rotate" max="360" min="0">
    </div>
    <br />
</div>
@section Styles {
    <script>
        var GEE_HOST = 'trafficgee.tycg.gov.tw';
        var GEE_BASE_URL = 'http://' + GEE_HOST;
    </script>
    <script src="http://trafficgee.tycg.gov.tw//Taoyuan_2D_01/query?request=Json&var=geeServerDefs&is2d=t" type="text/javascript"></script>
    <script src="http://trafficgee.tycg.gov.tw/maps/api/bootstrap.js" type="text/javascript"></script>
    <script src="http://trafficgee.tycg.gov.tw/maps/api/fusion_extended_map.js" type="text/javascript"></script>
}