@model InvestigateModel<VehicleInvestigateModel>
@{
    Layout = null;
    var isDataError = Model.Data.IsNullOrEmpty();
}
<div class="modal fade" id="Modal-upload-success" role="dialog">
    <div class="modal-dialog @(isDataError ? "" : "modal-lg")">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="">路口交通流量調查表</h4>
            </div>
            <div class="modal-body content-from">
                @Html.HiddenFor(x => Model.FileIdentification)
                @Html.HiddenFor(x => Model.Weather)
                @Html.HiddenFor(x => x.IntersectionId)
                @Html.HiddenFor(x => Model.HasOverlayData)
                @if (isDataError)
                {
                    <h1>
                        <small>設定之指向數量與上傳的調查表之指向數不符，請重新確認</small>
                    </h1>
                }
                else
                {
                    <table class="table-preview">
                        <tr>
                            <th class="direction">&nbsp;</th>
                            <th class="time">&nbsp;</th>
                            <th class="time">&nbsp;</th>
                            <th class="count">大型車</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">小型車</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">機車</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">腳踏車</th>
                            <th class="count">&nbsp;</th>
                            <th class="count">&nbsp;</th>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>時間-起</td>
                            <td>時間-迄</td>
                            <td>左轉</td>
                            <td>直行</td>
                            <td>右轉</td>
                            <td>左轉</td>
                            <td>直行</td>
                            <td>右轉</td>
                            <td>左轉</td>
                            <td>直行</td>
                            <td>右轉</td>
                            <td>左轉</td>
                            <td>直行</td>
                            <td>右轉</td>
                        </tr>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@item.DirectionCode</td>
                                <td>@item.StartTime</td>
                                <td>@item.EndTime</td>
                                @foreach (var num in item.LargeVehicle)
                                {
                                    <td>@num</td>
                                }
                                @foreach (var num in item.LightVehicle)
                                {
                                    <td>@num</td>
                                }
                                @foreach (var num in item.Motocycle)
                                {
                                    <td>@num</td>
                                }
                                @foreach (var num in item.Bicycle)
                                {
                                    <td>@num</td>
                                }
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    @if (isDataError)
                    {
                        <div class="col-xs-12"><button type="button" class="btn btn-default btn-block" data-dismiss="modal">確定</button></div>
                    }
                    else
                    {
                        <div class="col-xs-6"><button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button></div>
                        <div class="col-xs-6"><button type="button" class="btn btn-primary btn-block" id="ImportInvestigationData">匯入</button></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>